@font-face {
  font-family: 'Lobster';
  src: url(/girl-s-diary/assets/fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: 'SawarabiGothic';
  src: url(/girl-s-diary/assets/fonts/SawarabiGothic-Regular.ttf);
}
.container {
    display: grid;
    width: 360px;
    height: 640px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #F1B6C5;
    font-family: sans-serif;
  }
  .header__logo{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 51px;
    width: 360px;
    background: linear-gradient(0deg, rgba(206, 17, 17, 0.1), rgba(216, 14, 14, 0.1)), 
    linear-gradient(90deg, #E66777 0%, rgba(240, 161, 171, 0.99) 25%, #FAEBCB 50%);
    border: 1px solid #0000001A;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
.iconsHead{
  gap: 8px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  margin-left: 150px;
}
  #mainLogo{
    height: 36,58px;
    width: 120px;
    margin-left: 100%;
    margin-top:10px;
  }
  #emoticon{
    height: 35px;
    width: 35px;
    margin-left: 10%;
  }
  #checklist{
    height: 35px;
    width: 35px;
  }
  .photo-finances {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .title {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    text-align: center;
    font-family: 'Lobster';
    color: #723036;
    font-weight: 100;
    font-size: 20px;
  }
  .income {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    text-align: center;
  }
  .costs {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
    text-align: center;
  }
  .total-numb{
    margin-top: 55px;
  }
    .result-block{
    margin-top: 15px;
  }
  .money-box{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    text-align: center;
    margin-top: 55px;
  }
  h6{
    padding-top: 0;
    margin: 0;
  }
  h2{
    padding-top: 0;
    margin: 0;
  }
  h3{
    font-family: 'SawarabiGothic';
    padding-top: 0;
    margin: 0;
  }
  input{
    border: 1px solid #723036
  }
  #btnAdvice{
    background: linear-gradient(0deg, rgba(214, 184, 184, 0.54), rgba(255, 97, 97, 0.54)),
linear-gradient(0deg, #E9DCE7, #E9DCE7);
    border: 1px solid #723036
  }
  .footer {
    grid-row: 9 / 10;
    grid-column: 1 / 3;
    /* position: fixed; */
    bottom: 10;
    padding: 10px;
  }

  .footerIcon1,
.footerIcon2 {
    width: 30px; 
    margin-top: 0; 
    margin-left: 250px;
    margin-bottom: 0;
}
.footerIcon2 {
  margin-left: 5px; 
}
  .copyright {
      text-align: center;
  }
  .copyright__text {
      margin: 5px 0; 
      font-size: 8px;
  }
  /*Стили для совета*/

.adviceContent{
  font-style: italic;
  position:absolute;
  width: 20%;
  background: #faf9fa;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 40px;
  color:#f14377;
  visibility: hidden; 
  opacity: 0;
  transition: 0.7s;
  font-family: 'Montserrat-VariableFont_wght';
}